
.Section {
  padding: 24px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  overflow: hidden;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.section-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  text-align: left;
  padding: 24px 120px;
  height: 70%;

}

.hero-image{
  display: flex;
 align-self: center;
 justify-content: center;
}
